.card_list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 1.5%;
  list-style: none;
  margin: 40px;
  align-items: center;
}

.info {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 0px 10px;
}

.card {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  padding: 2% 1.5%;
  background-color: rgb(252, 252, 252);
  border: 2px;
  border-style: solid;
  border-color: #b3b3b3;
  border-radius: 10px;
  box-shadow: -4px 4px 30px 12px #26262611;
}

.card_title {
  align-items: left;
  color: #252525;
  margin-left: 4px;
}

.image_cover {
  height: 24vh;
  width: auto;

  border-radius: 10px;
  margin-bottom: 24px;
  box-shadow: 4px 4px 30px 12px #26262611;
}
